<div class="container">
  <h1>Simple todoList</h1>
  <button (click)="addTask()">Ajouter une tâche</button>
  <button>Vider la liste</button>


  <code>
      {{todolist | json}}
  </code>
  <hr>
  <div class="d-flex">
    <div class="cold-50">
      <app-todolist (doneTaskEvent)="onTodoListDoneTaskEvent($event)" [tasklist]="todolist"></app-todolist>
    </div>
    <div class="cold-50">
      <app-donelist (undoDoneTaskEvent)="onMoveDoneTaskToTodoListEvent($event)" (deleteTaskEvent)="onTodoListDeleteDoneTaskEvent($event)" [donelist]="donelist"></app-donelist>
    </div>
  </div>
</div>
